/* line 2, ../_sass/screen.scss */
body {
  padding-top: 20px;
  padding-bottom: 60px;
}

/* Custom container */
/* line 8, ../_sass/screen.scss */
.container {
  margin: 0 auto;
  max-width: 1000px;
}

/* line 12, ../_sass/screen.scss */
.container > hr {
  margin: 60px 0;
}

/* Main marketing message and sign up button */
/* line 17, ../_sass/screen.scss */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}

/* line 21, ../_sass/screen.scss */
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}

/* line 25, ../_sass/screen.scss */
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}

/* line 29, ../_sass/screen.scss */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
/* line 35, ../_sass/screen.scss */
.marketing {
  margin: 60px 0;
}

/* line 38, ../_sass/screen.scss */
.marketing p + h4 {
  margin-top: 28px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
/* line 44, ../_sass/screen.scss */
.navbar .navbar-inner {
  padding: 0;
}

/* line 47, ../_sass/screen.scss */
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}

/* line 52, ../_sass/screen.scss */
.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}

/* line 57, ../_sass/screen.scss */
.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.75);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 63, ../_sass/screen.scss */
.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}

/* line 67, ../_sass/screen.scss */
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}
