<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Parlour Hair and Skin{% if page.title %} &middot; {{ page.title }} {% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/screen.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="muted">Parlour Hair & Skin</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Hair</a></li>
                <li><a href="#">Skin</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Gallery</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      {{ content }}

      <div class="well footer">
        <p><a href="http://maps.google.com">1339 Frankford Ave<br />
          Philadelphia, PA 19125</a></p>

        <p><a href="">215-278-7613</a></p>

        <p><a href="http://parlourhairandskin.com">parlourhairandskin.com</a></p>

        <p><strong>Hours</strong></p>
        <ul>
          <li>Tuesday 12-6</li>
          <li>Wednesday 10-8</li>
          <li>Thursday 10-8</li>
          <li>Friday 10-8</li>
          <li>Saturday 10-6</li>
        </ul>

        <p>Please note: We require a 24-hour cancellation notice.</p>
        <p>Gratuity cannot be added to credit cards.</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>

  </body>
</html>